<!-- templates/new-event.hbs -->

<html>
  <head>
    <title>Nuevo Evento</title>
  </head>
  <body>
    <h1>¡Hola {{name}}!</h1>
    <p>Tenemos un nuevo evento que podría interesarte:</p>

    <h2>{{eventName}}</h2>
    <p><strong>Categoría:</strong> {{eventCategory}}</p>
    <p><strong>Fecha:</strong> {{eventDate}}</p>
    <p><strong>Ubicación:</strong> {{eventLocation}}</p>
    <p><strong>Descripción:</strong>{{eventDescription}}</p>

    <p>¡No te lo pierdas! Visita nuestra web para más detalles.</p>

    <footer>
      <p>Equipo de Extreme Gym</p>
    </footer>
  </body>
</html>